<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479342901847-e3kttl5hnkqjin23pbgss2b50ombphbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479342901847-e3kttl5hnkqjin23pbgss2b50ombphbk</string>
	<key>API_KEY</key>
	<string>AIzaSyCXA69R_N6tlOK0ChitHW42EjIWjPbKSic</string>
	<key>GCM_SENDER_ID</key>
	<string>479342901847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zesmag.Flash-Chat-iOS13Self</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13self</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13self.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479342901847:ios:a4b84f48986f4982ac4112</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13self.firebaseio.com</string>
</dict>
</plist>